/*
	SPLASH FADE IN
 */

#splash .wrapper {
	-webkit-animation: fadein 1s cubic-bezier(0.4, 0.0, 0.2, 1);
	animation: fadein 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}