.hidden {
	display: none;
}

#topbar {
	-webkit-app-region: drag;
	background: #ffa000;
	position: fixed;
	width: 100%;
}

#topbad div {
	padding-top: 3px;
	padding-bottom: 3px;
}

#topbar button {
	-webkit-app-region: no-drag;
}

#navigation {
	border-right: 1px solid black;
}

#splash {
	background-color: #261302;
	color: #AC7301;
	-webkit-user-select: none;
}

#splash .wrapper {
	-webkit-animation: fadein 1s cubic-bezier(0.4, 0.0, 0.2, 1);
	animation: fadein 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#main {
	padding-top: 60px;
}

.bookmark {
	padding-left: 10%!important;
	border-bottom: 1px solid black;
}

.bookmark :hover {

}