.hidden {
	display: none;
}

#topbar {
	-webkit-app-region: drag;
	background: #FF8F00;
	position: fixed;
	width: 100%;
}

#topbad div {
	padding-top: 3px;
	padding-bottom: 3px;
}

#topbar button {
	-webkit-app-region: no-drag;
}

#navigation {
	border-right: 1px solid black;
}

#splash {
	background-color: #261302;
	color: #AC7301;
	-webkit-user-select: none;
}

#main {
	padding-top: 60px;
}

/* #FF8F00 */

.bookmark:hover {
	color: white;
	background: #FFA000;
	-webkit-transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1), color 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1), color 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.bookmark-active {
	background: #303F9F;
}