doctype html
html.h-100(lang="en")
	head
		title Heimdall
		link(rel="stylesheet", type="text/css", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="../node_modules/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="res/css/index.css")
		link(rel="stylesheet", type="text/css", href="res/css/loader.css")
		link(rel="stylesheet", type="text/css", href="res/css/ripple.css")
		link(rel="stylesheet", type="text/css", href="res/css/animations.css")
	body.h-100
		#app.h-100
			#topbar.navbar.sticky-top.justify-content-between(v-if="isVisibleTopbar")
				.navbar-brand
					img.rounded(src="res/img/icon.svg", height="32", width="32")
					| Heimdall
				div
					button.nav-item.btn.btn-outline-danger(type="button", v-on:click="minimizeWindow")
						i.fa.fa-window-minimize
					button.nav-item.btn.btn-outline-danger(type="button", v-on:click="maximizeWindow")
						i.fa.fa-window-restore(v-if="maximized", aria-hidden="true")
						i.fa.fa-window-maximize(v-else, aria-hidden="true")
					button.nav-item.btn.btn-outline-danger(type="button", v-on:click="closeWindow")
						i.fa.fa-window-close-o
			main.container-fluid.h-100.p-0
				#main.row.h-100.w-100.m-0(v-if="isVisibleMain")
					#main-navigation.col-3.p-0
						div.bookmark.row.d-flex.align-items-center.p-0.m-0(v-ripple="'rgba(255, 188, 26, 0.35)'", v-for="app in apps", v-on:click="pickBookmark(this)")
							.col-3.p-1.text-right
								img.rounded(v-bind:src="app.icon", height="32", width="32")
							.col-8.p-1.text-left
								span {{ app.name }}
							.col-1.bookmark-active(v-if="app.active")
					#main-content.col(style="background:green")
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et massa lorem. Donec bibendum, erat non tincidunt fringilla, ipsum lacus mattis erat, vel tincidunt ligula mi eu tortor. Nulla accumsan enim lorem, sit amet pulvinar ligula imperdiet ac. Aliquam a magna aliquam, elementum enim nec, posuere sapien. Morbi rutrum massa ut libero fermentum, vitae mattis nisi hendrerit. Nullam sit amet varius lacus, sed blandit mauris. Vestibulum lectus lectus, placerat sit amet justo a, euismod pretium arcu. Nunc tincidunt, orci a lacinia tristique, purus purus lobortis risus, sit amet mattis nisl ante eu massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				#splash.h-100.w-100.m-0.p-0(v-if="isVisibleSplash")
					div.row.h-100.w-100.m-0.p-0.wrapper
						.col-4.d-flex.align-items-center.justify-content-end.p-0
							img(src="res/img/icon.svg", height="100", width="100")
						.col-8.d-flex.flex-column.align-items-start.justify-content-center.p-0
							h1 Heimdall
							.d-inline-flex.align-items-center
								.spinner(v-if="!error")
									.rect1
									.rect2
									.rect3
									.rect4
									.rect5
								span(v-if="!error") {{status}}
								span.alert.alert-danger.p-1(v-else) {{status}}
		script.
			window.$ = window.jQuery = require("../node_modules/jquery/dist/jquery.min.js");
		script(src="../node_modules/jquery/dist/jquery.min.js")
		script(src="../node_modules/vue/dist/vue.js")
		script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
		script(src="res/js/vue.js")
		script(src="res/js/ripple.js")
		script(src="res/js/index.js")